.ProgressBarPart {
  width: 12%;
  height: 100%;
  border: 1px solid var(--color-purple);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.PartNull {
  text-align: center;
  font-size: 12px;
  color: greenyellow;
}

.PartSelected {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.1s;

  background-color: white;
  border: var(--border-light);
  border-radius: var(--border-radius);
  border-color: greenyellow;
}

.PartSelectedTitle {
  margin-top: 0;
  margin-bottom: 0;
  color: gray;
}

.PartSelectedImage {
  width: 50px;
  height: 50px;
}

.PartSelectedDesc {
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;

  color: var(--color-bg-dark);
}

.Part-tooltip {
  opacity: 1;
  position: relative;
  border-radius: 5%;
  background: white;
  width: 100%;
  height: 110%;
  transition: 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 14px;
  text-align: center;
}
