p {
  margin-top: 0;
  margin-bottom: 10px;
}

.lista {
  position: relative;
  margin-left: 0.5%;
  margin-top: 2%;
  padding: 10px;
  width: auto;
  height: 100%;
  max-width: 9%;
  max-height: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 15px;
  border: 1px solid var(--color-purple);
  border-radius: 10px;
  background-color: var(--color-bg-dark);
  overflow: auto;
}

.FinalImage {
  margin-bottom: 10px;
  width: 95%;
  object-fit: fill;
  background-color: #081945;
  border-radius: 10px;
}

.computador {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}

.botones {
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3%;
}

.buttonOtro {
  width: auto !important;
  height: auto;
  max-height: 80%;
  margin-right: 10% !important;
}
