#loginScreen {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0;
}

.izqLogin {
  display: flex;
  background-image: url("../../assets/Parallax1.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 100%;
}

.derLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35%;
  padding: 5%;
  background-color: white;
}

.usuario {
  color: #ffffff;
}

.contrasenia {
  color: #ffffff;
}

.form {
  width: 100%;
  margin-top: 10%;
}

.submit {
  margin-bottom: 5%;
}

.rememberMe {
  color: var(--color-bg-dark);
}

.labelIniciarSesion {
  color: #4b5f83;
}

.avatar {
  color: var(--color-bg-dark);
}
