.ListItemTower {
  width: 1270px;
  margin: 1px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-bg-dark);
  justify-content: space-around;
  border: 1px solid var(--color-purple);
  border-radius: 20px;
}

.ListItemTower:hover {
  background-color: rgba(224, 255, 255, 0.11);
  transition: 0.1s;
}

.TowerImg {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid var(--color-blue);
  border-radius: 15px;
}

.PartList {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.PartRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.PartRowImg {
  width: 30px;
  height: 30px;
  margin: 2px 20px;
  background-color: white;
  border: 1px solid var(--color-blue);
  border-radius: 10px;
}

.PartLabel {
  font-size: 24px;
  font-family: "Squada One", sans-serif;
  color: var(--color-purple);
  margin: 0;
}

.Cost {
  font-size: 32px;
  margin-right: 20px;
  font-family: "Montserrat", cursive;
  color: greenyellow;
}
