html,
body,
#app,
#app > div {
  height: 100vh;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
}

.dark-theme {
  height: 100vh;
  display: flex;
  justify-content: center;

  --color-bg-light: #14224f;
  --color-bg-dark: #081945;
  --color-purple: #8917ff;
  --color-pink: #ff26c2;
  --color-blue: #24e1ff;
  --color-yellow: #ffd94a;
  --color-orange: #ffa73f;

  --color-text: white;
  --color-borders: rgba(255, 255, 255, 0.2);

  --border: 1px solid transparent;
  --border-light: 2px solid var(--color-borders);
  --border-radius: 20px;

  --font: "MyFont";

  background-color: var(--color-bg-light);
  color: var(--color-text);
}
