.CompareParts {
  position: absolute;
  bottom: 0;
  left: 60px;
  background-color: var(--color-bg-dark);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: var(--border);
  border-radius: var(--border-radius);
  z-index: 400;
}

.Keys {
  flex-direction: row;
  margin: 0;
  border: var(--border);
}

.Part {
  width: 200px;
  flex-direction: row;
  margin: 0 0px 0 20px;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-bg-light);
}

.Key {
  text-align: center;
  font-weight: bold;
}

.PartImage {
  width: 100%;
  height: 120px;
  object-fit: contain;
  background-color: white;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.Prop {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Hide {
  width: 12px;
  height: 12px;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--color-orange);
  border-radius: 10px;
  padding: 10px;
}

.Show {
  position: absolute;
  width: 180px;
  height: 40px;
  bottom: 8px;
  left: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-orange);
  border-radius: 10px;
}

.ShowImage {
  width: 20px;
  height: 20px;
}

.ShowText {
  font-family: "Squada One", cursive;
  font-size: 18px;
}
