.Head {
  height: 6%;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 25px;
}

.Home {
  text-decoration: none;
  color: var(--color-text);
  display: flex;
  flex-direction: row;
  margin: 16px 0 0 30px;
  cursor: pointer;
}

.HomeButton {
  margin-right: 10px;
}

.AccountInfoHead {
  margin: 16px 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.AccountInfoBaseHead {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.AccountInfoIconHead {
  margin-right: 10px;
  margin-top: -5px;
}

.flecha {
  font-size: small;
  margin-left: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content p:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.labelCerrarSesion {
  font-size: large;
}
