.leftpanel {
  position: relative;
  width: 20%;
  height: 80%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #081945;
  color: white;
}

.rightpanel {
  position: relative;
  height: 100%;
  width: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #14224f;
  color: var(--color-purple);
}

.TuComputador {
  color: greenyellow;
}

.main {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 2%;
  padding-right: 2%;
  height: 90%;
  width: 96%;
}

.screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
