.MainScreen {
  height: 94%;
  width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.LeftPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.RightPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: var(--color-bg-dark);
  padding: 0 6px 6px 6px;
  margin: 10px;
}

.Heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 20px;
  position: relative;
  width: 94%;
}

.PcPower {
  color: greenyellow;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 9900;
}

.PcPartsList {
  width: 100%;
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
  justify-content: center;
  align-content: flex-start;
  margin-top: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-bg-light);
  border-color: var(--color-purple);
}
