.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar ul {
  list-style: none;
  text-align: left;
}

.navbar ul li {
  color: white;
  font-size: 25px;
  padding-right: 20px;
  display: inline;
  cursor: pointer;
}

.navbar ul li > .active {
  border-bottom: 5px solid white;
}

.AccountInfo {
  position: absolute;
  top: 16px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AccountInfoBase {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.AccountInfoText {
  font-size: 25px;
  cursor: pointer;
}

.AccountInfoIcon {
  margin-right: 10px;
  margin-top: -5px;
}

.flecha {
  font-size: small;
  margin-left: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content p:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.labelCerrarSesion {
  font-size: large;
}
